[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "==2.2.0"
django = "==4.2.5"
tzdata = "==2023.3"
pycodestyle = "==2.11.0"
weasyprint = "*"
pillow = "==10.1.0"
install = "*"
django-tailwind = {extras = ["reload"], version = "*"}
tailwindcss = "==0.0.1"
dj-database-url = "*"
gunicorn = "==21.2.0"
whitenoise = "*"
wheel = "==0.38.1"

[dev-packages]

[requires]
python_version = "3.10"
