@media print {
	button, footer, nav {
		display: none;
	}
	body {
		font-size: 10px;
	}
}

/* .h-custom-height {
    height: 400px; 
} */

/* body {
    background-image: url('/static/images/TextureBlue.jpg');

    background-repeat: repeat;
} */

/*

body {
	background-color: rgb(239, 204, 246);
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	flex: 1;
	/* Pour que chaque carte ait la même largeur
	margin: 0 10px;
	/* Espacement entre les cartes
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	background-color: white;
}

.card h1 {
	font-size: 1.5rem;
	text-align: center;
}

.card p {
	font-size: 1rem;
}

.hide {
	display: none;
}


article p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article p :hover {
	color: red;
	cursor: pointer;
}

.test-info {
	font-style: italic;
	text-align: justify;
}


*/
