@media print {
	button, footer, nav {
		display: none;
	}
	body {
		font-size: 10px;
	}
}

/* body {
	position: relative;
  }
  
  .paperOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: repeat;
	background-image: url('Texture-Overlay0.jpg');
	mix-blend-mode: multiply;
	opacity: 0.10;
	pointer-events: none;
  } */
