{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<!-- head -->
<head>
	<meta charset="utf-8">
	<title>DepistClic - Dépister les complications du diabète de type 2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Aide décisionelle au dépistage des complications du diabète destinée au professionnels de santé.
	Obtenez une conduite à tenir personnalisée pour votre patient en moins de 2 minutes.">
	<meta property="og:title" content="DepistClic">
	<meta property="og:description" content="Aide décisionelle au dépistage des complications du diabète destinée au professionnels de santé. Obtenez une conduite à tenir personnalisée pour votre patient en moins de 2 minutes.">
	<meta property="og:image" content="static/Images/Logo-icon-nobar.png">
	<meta property="og:locale" content="fr">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https:/www.depistclic.fr">

	<!-- Favicon Temp -->
	<link rel="icon" type="image/x-icon" href="static/Images/favicon.ico">
	<!-- Icône pour iPhone et iPad -->
	<link rel="apple-touch-icon" sizes="180x180" href="static/Images/apple-touch-icon.png">
	<!-- Icônes pour Android et Chrome -->
	<link rel="icon" type="image/png" sizes="192x192"  href="static/Images/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512"  href="static/Images/android-chrome-512x512.png">
	<!-- main.css -->
	<link rel="stylesheet" href="{% static 'mainapp/main.css' %}">
	<!-- Tailwind -->
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<!-- script.js -->
	<script src="/static/mainapp/script.js"></script>
	<!-- Icons script -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	{% tailwind_css %}
</head>

<!-- body -->
<body class="flex flex-col min-h-screen bg-dark-blue">
    <!-- header --> 
    <header class="bg-dark-blue fixed w-full top-0 z-50">
		<!-- nav bar -->
		<nav class="px-6 py-4 bg-white md:flex md:items-center md:justify-between">
			<div class="flex justify-between items-center ">
				<!-- Depistclic -->
				<div class="text-3xl font-bold text-red-500">
						<a href="/">
							DepistClic
						</a>
				</div>
				<!-- Burger Icon -->
			<span class="text-3xl cursor-pointer mx-2 md:hidden block text-red-500">
				<ion-icon name="menu" onclick="Menu(this)"></ion-icon>
			</span>
			</div>
			<!-- Burger list -->
    		<ul class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-2 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
				<li class="my-6 md:my-0"><a href="/" class="text-black hover:text-white text-lg py-3 pl-3 pr-4 rounded hover:bg-red-500 hover:shadow">Accueil</a></li>
				<li class="my-6 md:my-0"><a href="/project/" class="text-black hover:text-white text-lg py-3 pl-3 pr-4 rounded hover:bg-red-500 hover:shadow">Projet</a></li>
				<li class="my-6 md:my-0"><a href="/equipe/" class="text-black hover:text-white text-lg py-3 pl-3 pr-4 rounded hover:bg-red-500 hover:shadow">Equipe</a></li>
				<li class="my-6 md:my-0"><a href="/comment/" class="text-black hover:text-white text-lg py-3 pl-3 pr-4 rounded hover:bg-red-500 hover:shadow">Contact</a></li>
			</ul>
		</nav>
		<!-- Script for Burger menu -->
		<script>
			function Menu(e){
			let list = document.querySelector('ul');
			e.name === 'menu' ? (e.name = "close",list.classList.add('top-[60px]') , list.classList.add('opacity-100')) :( e.name = "menu" ,list.classList.remove('top-[80px]'),list.classList.remove('opacity-100'))
			}
		</script>
    </header>

    <!-- Block content --> 
    <main>
        {% block content %} {% endblock %}
    </main>

	{% block footer %}
    <!-- Footer --> 
	<footer class="bg-white shadow-md mt-auto py-6">
		<div class="flex flex-col lg:flex-row items-center justify-evenly px-6">
			<!-- List 1 -->
			<div class="w-full lg:w-1/4">
				<ul class="flex flex-col text-center lg:text-left">
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a href="/project/" class="hover:text-blue-400">Projet <ion-icon name="pulse-outline"></ion-icon></a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a href="/mentions/" class="hover:text-blue-400">Mentions légales <ion-icon name="document-text-outline"></ion-icon></a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a href="/politique/" class="hover:text-blue-400">Politique de confidentialité <ion-icon name="shield-checkmark-outline"></ion-icon></a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a href="/cookies/" class="mr-4 hover:underline md:mr-6 text-gray-500 hover:text-blue-500 text-sm">Politique de cookies <ion-icon name="fast-food-outline"></ion-icon></a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a href="/equipe/" class="hover:text-blue-400">Qui sommes nous ? <ion-icon name="people-circle-outline"></ion-icon></a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a href="/comment/" class="hover:text-blue-400">Contact <ion-icon name="mail-outline"></ion-icon></a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a href="https://github.com/v-dav/DepistClic" target="_blank" class="hover:text-blue-400">GitHub <ion-icon name="logo-github"></ion-icon></a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a href="https://www.holbertonschool.fr/" target="_blank" class="hover:text-blue-400">Holberton School <ion-icon name="school-outline"></ion-icon></a></li>
				</ul>
			</div>
			<!-- Texte et Share -->
			<div class="text-center w-full lg:w-2/4">
				<!-- Texte -->
				<div class="text-gray-500 text-justify lg:mx-6 mb-2">
					<p>
						<b>DepistClic</b> est un outil indépendant d'aide à la décision destiné au professionels de santé.
						Il utilise les dernières recommandations des sociétés savantes pour proposer une conduite à tenir personnalisée de dépistage des complications chez les patients diabétiques de type 2.
						Les informations issues de ce site ne se substituent pas à la responsabilité de décision et de prescription d'un médecin.
						Cet outil n'a bénéficié d'aucune validation académique et sa présentation n'est pas adaptée au grand public.
						Application développée en open-source sans conflits d'intérêts.
					</p>
				</div>
				<!-- Share Button -->
				<button class="buttonShare mt-4">
					<span>Partager</span>
					<div class="container space-x-6">
						<ion-icon name="logo-facebook" id="facebookIcon" class="icon h-8 w-8"></ion-icon>
						<ion-icon name="logo-twitter" id="twitterIcon" class="icon h-8 w-8"></ion-icon>
						<ion-icon name="logo-linkedin" id="linkedinIcon" class="icon h-8 w-8"></ion-icon>
					</div>
				</button>
				<div class="text-gray-500 lg:mx-6 mb-2 text-center text-xs mt-2">
					<p>©2024 DepistClic - Tous droits réservés</p>
				</div>
			</div>
			<!-- List 2 -->
			<div class="w-full lg:w-1/4">
				<ul class="flex flex-col text-center lg:text-right">
					<li class="mb-2 text-gray-500 text-sm no-underline"><p>Ressources utiles</p></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a target="_blank" href="https://www.has-sante.fr/upload/docs/application/pdf/2015-02/7v_referentiel_2clics_diabete_060215.pdf" class="hover:text-blue-400">Recommandations HAS 2014</a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a target="_blank" href="https://recomedicales.fr/recommandations/diabete-type-2/" class="hover:text-blue-400">RecoMedicales</a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a target="_blank" href="https://diabetes.org/" class="hover:text-blue-400">American Diabetes Association</a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a target="_blank" href="https://www.diabeclic.com/" class="hover:text-blue-400">Diabeclic</a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a target="_blank" href="https://idf.org/about-diabetes/type-2-diabetes/" class="hover:text-blue-400">International Diabetes Federation</a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a target="_blank" href="https://diabetoclic.fr/suivi/le-bilan-des-complications-et-leur-surveillance/" class="hover:text-blue-400">Diabetoclic</a></li>
					<li class="mb-2 hover:underline text-gray-500 hover:text-blue-500 text-sm no-underline"><a target="_blank" href="https://www.diabete.qc.ca/" class="hover:text-blue-400">Diabète Québec</a></li>
				</ul>
			</div>
        </div>
    </footer>
	{% endblock %}
</body>

</html>
