{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Aide au dépistage des complications du diabète de type 2 destinée au professionels de santé">
		<title>DepistClic</title>
		<link rel="stylesheet" href="{% static 'mainapp/main.css' %}">
		<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		<script src="/static/mainapp/script.js" ></script>
	</head>
	<body>
		{% block content %} {% endblock %}
	</body>
</html>
