{% extends 'mainapp/base.html' %}

{% block content %}
<footer>
    <h3>Disclamers</h3>
    <p>DepistClic est un outil indépendant d'aide au dépistage des complications du diabète de type 2. Il est destiné à accélerer la prise de décision des professionnels de santé.</p>
    <p>Les information issues de ce site ne se substituent pas à la responsabilité de décision et de prescription du médecin.</p>
    <p>Sa présentation n’est pas adaptée au grand public. Cet outil n'a bénéficié d'aucune validation académique.</p>
</footer>
{% endblock content %}