{% extends 'mainapp/base.html' %}

{% block content %}
	<h1>DepistClic</h1>
	<h3>Aide au dépistage des complications du diabète de type 2 destinée au professionels de santé</h3>
	<a href="/questions/">
		<button>Démarrer</button>
	</a>
	<h3>Disclaimer</h3>
	<p>DepistClic est un outil indépendant d'aide au dépistage des complications du diabète de type 2. Il est destiné à accélerer la prise de décision des professionnels de santé.</p>
	<p>Les information issues de ce site ne se substituent pas à la responsabilité de décision et de prescription du médecin.</p>
	<p>Sa présentation n’est pas adaptée au grand public. Cet outil n'a bénéficié d'aucune validation académique.</p>
{% endblock content %}
