{% extends 'mainapp/base.html' %}

{% block content %}

<!-- Landing Page -->
<article class="max-h-screen container w-full px-6 py-40">
	<div class="max-w-screen mx-auto text-center">
		<h1 class="text-9xl font-bold mb-8 text-white">DepistClic</h1>
		<h2 class="text-2xl font-semibold text-white">
			Aide au dépistage des complications du diabète de type 2 destinée aux professionnels de santé
		</h2>
		<h2 class="text-lg font-semibold m-2 text-white">
			Complétez le questionnaire (2 min) pour obtenir la stratégie de dépistage adaptée à votre patient
		</h2>
		<div class="flex items-center justify-center mt-12">
			<a href="/questions/">
				<button class="bg-red-500 text-white text-xl font-bold py-3 px-7 rounded-full shadow-md transform transition-transform hover:-translate-y-1">
					Démarrer
				</button>
			</a>
		</div>
	</div>
</article>

<!-- Disclaimers -->
<div class="flex">
	<button class="bg-red-500 hover:bg-blue-200 hover:text-gray-800 text-white text-xl font-bold py-3 px-7 rounded-full shadow-md hover:shadow-inner">
		Donner nous votre avis
	</button>
</div>

{% endblock content %}
