{% extends 'mainapp/base.html' %}

{% block content %}
<header>
	<nav>
		<ul>
			<li><a href="/">Accueil</a></li>
			<li><a href="/questions/">Questions</a></li>
			<li><a href="/contact/">Contact</a></li>
			<li><a href="/apropos/">À propos</a></li>
			<li><a href="">L'équipe</a></li>
		</ul>
	</nav>
	<h1>DepistClic</h1>

	<h3>Aide au dépistage des complications du diabète de type 2 destinée au professionels de santé</h3>
	<a href="/questions/">
		<button>Démarrer</button>
	</a>
	<br>
	<br>
	<a href="/comment/">
        <button>Donnez-nous votre avis</button>
	</a>

	<h3>Avertissement</h3>
	<p>DepistClic est un outil indépendant d'aide au dépistage des complications chez les patients atteints du diabète de type 2.</p>
	<p>Il est destiné à accélerer la prise de décision des professionnels de santé.</p>
	<p>Les informations issues de ce site ne se substituent pas à la responsabilité de décision et de prescription d'un médecin.</p>
	<p>Cet outil n'a bénéficié d'aucune validation académique et sa présentation n'est pas adaptée au grand public.</p>

	<h3>Politique de confidentialité</h3>
	<p>...</p>
{% endblock content %}
