{% extends 'mainapp/base.html' %}

{% block content %}
<!-- Card -->
<section class="flex justify-center items-center">
	<article class="bg-white border border-gray-300 rounded shadow-md py-10 px-24 mt-20 mb-5 w-5/6 h-auto">
		<div class="text-justify" >
			<h1 class="text-6xl font-bold text-black mb-4 text-center">
				Mentions légales <ion-icon name="document-text-outline"></ion-icon>
			</h1>
			<!-- Red line -->
        	<div class="mt-1 mb-2 border-b-4 border-red-500 rounded w-1/2"></div>
			<br>
			<h2 class="text-2xl lg:text-5xl font-bold text-black">
				EN VIGUEUR AU 01/11/2023
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l'"Utilisateur", du site www.depistclic.fr, ci-après le "Site", les présentes mentions légales.</p>
			<br>
				<p>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
			<br>
				<p>Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 1 - MISE EN GARDE GENERALE
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p><b>DepistClic</b> est un outil indépendant élaboré dans le cadre de projet de fin d'études des étudiants développeurs en informatique en collaboration avec une médecin généraliste. Il est financé personnellement par l'équipe de développement et est totalement indépendant de toute démarche commerciale ou publicitaire.
				L'équipe de développement n’a reçu aucune subvention pour la création du Site et est totalement indépendante de l’industrie pharmaceutique.
				</p>
			<br>
				<p>Les informations issues du Site ne se substituent pas à la responsabilité de décision et de prescription d'un médecin selon le principe de responsabilité individuelle énoncé dans le code de déontologie médicale (Article R.4127-69 - Caractère personnel de l’exercice) : « L’exercice de la médecine est personnel ; chaque médecin est responsable de ses décisions et de ses actes ».</p>
			<br>
				<p>
				Les informations contenues sur le Site se réfèrent aux données médicales et paramédicales existantes ainsi qu’aux recommandations des sociétés savantes.
				Il est important de noter que Le Site n'a bénéficié d'aucune validation académique et sa présentation n'est pas adaptée au grand public. 
				Aucune publicité n'est admise ou affichée sur le Site. Les informations fournies sur le Site sont destinées à améliorer, non à remplacer, la relation qui existe entre le patient et le professionnel de santé.
				</p>
			<br>
				<p>L'exercice de la médecine ne doit pas être pratiqué comme un commerce, y compris le commerce électronique. En conséquence, <b>DepistClic</b> n'est pas de nature publicitaire et s'engage à ne publier que des informations de qualité au service de l’information des confrères.</p>
			<br>
				<p>Nous mettons tout en œuvre pour offrir aux visiteurs du Site des informations fiables et vérifiées. Cependant, malgré tous les soins apportés, le site peut comporter des inexactitudes, des défauts de mise à jour ou des erreurs. Nous remercions les Utilisateurs de nous faire part d’éventuelles omissions, erreurs ou corrections via la page <u><a href="/comment/" class="hover:text-blue-300">contact</a></u>.</p>
			<br>
				<p>Date de mise en ligne: novembre 2023</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 2 - L'EDITEUR
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>L’édition et la direction de la publication du Site est assurée par Vladimir Davidov, domicilié 37 rue des Marchands 31000 Toulouse, dont le numéro de téléphone est 05 82 88 06 03 et l'adresse e-mail 6002@holbertonstudents.com.</p>
			<br>
				<p>Ci-après l'"Editeur"</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 3 - L'HEBERGEUR
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>L'hébergeur du Site est la société Hostinger, dont le siège social est situé au  HOSTINGER INTERNATIONAL LTD, 61 Lordou Vironos Street, 6023 Larnaca, Chypre, joignable par le moyen suivant https://www.hostinger.fr/contact.</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 4 - ACCES AU SITE
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance. En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 5 - COLLECTE DES DONNEES
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.
				Les responsables du site s'engagent sur l'honneur à respecter les conditions légales de confidentialité applicables en France.
				Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.
				</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 6 - DISPOSITIONS LEGALES
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>Les divers éléments du Site (la forme, la mise en page, le fonds, la structure, les images, les logos, etc.) sont protégés par le droit des dessins et modèles, le droit d’auteur, le droit des marques ainsi que le droit à l’image et ils ne peuvent être copiés ou imités en tout ou partie sauf autorisation expresse de <b>DepistClic</b>.</p>
			<br>
				<p>Toute personne ne respectant pas les dispositions légales applicables, se rend coupable du délit de contrefaçon et est passible des sanctions pénales prévues par la loi.</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 7 - DROITS D'AUTEURS
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>Le Site constitue une œuvre dont l'Editeur est l’auteur au sens des articles L.111.1 et suivant le Code de la propriété intellectuelle. Les photographies, textes, logos, pictogrammes, ainsi que toutes œuvres intégrées dans le site sont la propriété de Végéclic ou de tiers ayant autorisé <b>DépistClic</b> à les utiliser.
				Certaines illustrations affichées sont issues des publications scientifiques publiques dont la source est indiqué clairement.
				Les reproductions, les transmissions, les modifications, les réutilisations, sur un support papier ou informatique, dudit site et des œuvres qui y sont reproduites ne sont autorisées que pour un usage personnel et privé conforme aux dispositions de l’article L.122-5 du Code de la Propriété Intellectuelle.
				Ces reproductions devront ainsi notamment indiquer clairement la source et l’auteur du site et/ou de ces œuvres multimédias. En aucun cas ces reproductions ne sauraient porter préjudice aux droits des tiers.
				Les reproductions, les transmissions, les modifications, les réutilisations à des fins publicitaires, commerciales ou d’information, de tout ou partie du site, sont totalement interdites.
				</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 8 - LOGO DEPISTCLIC
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>Le logo <b>DepistClic</b> ne peut être modifié (proportions, couleurs, éléments, constituants, etc.) et ne peut être sujet à aucune transformation, animation ou tout autre processus. Le logo <b>DepistClic</b> ne peut être utilisé et associé qu’aux seules informations vérifiables.
				Quel que soit le cas d’espèce, <b>DepistClic</b> se réserve le droit d’approuver ou de désapprouver toute utilisation du logo <b>DepistClic</b>, pour assurer son utilisation correcte, conformément à l’éthique, la morale et aux intérêts de <b>DepistClic</b>. <b>DepistClic</b> se réserve le droit de modifier les conditions d’utilisation du logo <b>DepistClic</b> à tout moment et sans préavis.
				</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 9 - DROIT DES BASES DE DONNEES
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>Les bases de données sont protégées par la loi n° 98-536 du 1er juillet 1998 et le régime français du droit d’auteur.</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 10 - ETABLISSEMENT DE LIENS VERS LE SITE
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p><b>DepistClic</b> autorise la mise en place de liens hypertextes vers le Site pour tous les sites Internet, à l’exclusion de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure, porter atteinte à la sensibilité du plus grand nombre.
				Le Site doit apparaître dans une fenêtre dédiée, les pages du Site ne doivent en aucun cas être intégrées à l’intérieur des pages d’un autre site (Frame).
				Dans tous les cas d’espèce, <b>DepistClic</b> se réserve le droit de demander la suppression d’un lien hypertexte si le site ayant mis en place un lien hypertexte vers le Site ne respecte pas les règles ainsi définies.
				</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 11 - LIENS VERS DES SITES TIERS DEPUIS LE SITE
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>Les liens hypertextes mis en œuvre au sein du site en direction d’autres sites et/ou de pages personnelles et d’une manière générale vers toutes ressources existantes sur Internet ne sauraient engager la responsabilité de <b>DepistClic</b> quant aux liens qu’ils contiennent ou aux changements ou mises à jour qui leur sont apportés.</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 12 - LIMITATION DE RESPONSABILITE
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
				<p>Le Site, l'Editeur ou toute personne ayant participé au développement de <b>DepistClic</b> ne saurait être tenu pour responsable des erreurs rencontrées sur le site, problèmes techniques, interprétation des informations publiées, conséquences ou préjudice de quelque nature que ce soit, direct ou indirect, de leur utilisation même partielle. En conséquence, l’Utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</p>
			<br>
			<h2 class="text-2xl font-bold text-black">
				ARTICLE 13 - REALISATION TECHNIQUE
			</h2>
			<!-- Blue line -->
        	<div class="mt-2 border-b-4 border-blue-200 rounded w-1/4"></div>
			<br>
			<u><a href="/equipe/" class="hover:text-blue-300">L'équipe DépistClic</a></u>
			<br>
			<br>
		</div>
	</article>
</section>

{% endblock content %}
