{% extends 'mainapp/base.html' %}

{% block content %}
<section class="bg-light-blue bg-Texture bg-blend-multiply bg-cover bg-center">
	<!-- Card -->
	<section class="flex justify-center items-center">
		<article class="bg-white border border-gray-300 rounded shadow-md py-10 px-4 md:px-24 mt-20 mb-4 mx-4 lg:mx-32 h-auto">
			<div class="text-left lg:text-justify">
				<h1 class="text-3xl md:text-6xl font-bold text-black mb-4 text-center">
					Pourquoi DepistClic ? <ion-icon name="pulse-outline"></ion-icon>
				</h1>
				<!-- Red line -->
				<div class="mt-1 mb-2 border-b-4 border-red-500 rounded"></div>
				<br>
				<h2 class="text-basic md:text-4xl font-bold text-black">
					LE DIABETE DE TYPE 2
				</h2>
				<!-- Blue line -->
				<div class="mt-4 border-b-4 border-blue-200 rounded w-1/4"></div>
				<br>
				<p>Le diabète de type 2 est l'une des pathologies les plus fréquentes au monde et touche près de 500 millions de personnes.
					En France, il touche plus de 4 millions de patients.
					Appelé aussi "diabète non insulino-dépendant" ou "diabète gras", il est plus fréquent que le type 1 et affecte principalement les personnes de plus de 40 ans et est étroitement lié à l'obésité.
				</p>
				<br>
				<p>
					La fréquence du diabète et de l'obésité augmente d'année en année au rythme de 5 % par an et peut même toucher les adolescents.
					Il se traduit par un excès de sucre circulant dans le sang et entraîne des complications graves, notamment au niveau du cœur, des vaisseaux sanguins, des reins et des nerfs.
				</p>
				<br>
				<p>
					Le diabète de type 2 ne se guérit pas.
					Perdre du poids, manger sainement, éviter de fumer et faire de l'exercice peuvent aider à prévenir et à stabiliser la maladie, mais si ces mesures ne suffisent pas, des médicaments peuvent être recommandés.
				</p>
				<br>
				<p>
					Le diabète est une cause majeure de cécité, d'insuffisance rénale, d'infarctus, d'accident vasculaire cérébral, d'amputation des membres inférieurs et in fine de décès.
					Ainsi, la prévention et la détection précoce de ces complications est la pierre angulaire de la prise en charge du patient diabétique.
				</p>
				<br>
				<p>De nombreux professionnels de la santé participent à cette prise en charge, mais ceux qui jouent un rôle majeur au côté des diabétologues sont les médecins généralistes qui gérent en première ligne quotidiennement ces millions de patients.</p>
				<br>
				<p>Les complications du diabète sont donc dangereuses, fréquentes et affectent les organes vitaux et fonctionnels. Elles doivent être détectées et prévenues le plus tôt possible par un examen clinique soigneux et approfondi ainsi que par des bilans de dépistage et de suivi réguliers et orientés (imagerie, analyses de sang et autres) prescrits et réalisés par des médecins.</p>
				<br>
				<h2 class="text-basic md:text-4xl font-bold text-black">
					LA PROBLEMATIQUE
				</h2>
				<!-- Blue line -->
				<div class="mt-4 border-b-4 border-blue-200 rounded w-1/4"></div>
				<br>
				<p>
					Alors que la littérature scientifique est assez claire sur la nature et la fréquence du dépistage des complications, il y a énormement de points à vérifier, à analyser et à retenir.
					Le diabète, de par sa prévalence et sa gravité, fait objet de publications de recherche abondantes avec des recommandations émanant de nombreuses sociétés savantes nationales et internationales sans cesse mises à jour.		
				</p>
				<br>
				<p>
					Même pour les médecins habitués à la prise en charge des diabétiques au quotidien, garder une veille informationnelle ciblée, trouver les informations correctes, les lire, les comprendre, les implémenter dans sa pratique quotidienne et décider de ce qui s'applique à un patient spécifique, qui est toujours unique, devient une tâche extrêmement chronophage.
				</p>
				<br>
				<p>D'ailleurs, dans ce contexte, les données statistiques montrent que seuls 40 à 60 % des patients diabétiques bénéficient d'un dépistage actualisé.</p>
				<br>
				<p>Les médecins généralistes qui doivent décider quotidiennement de la conduite à tenir ont très peu de temps pour absorber et digérer la masse d'informations disponible et évolutive. La pénurie continue de médecins en France (seulement 57 000 généralistes travaillant dans leur cabinet) est un problème bien connu et comme leur nombre diminue d'année en année et que le nombre de patients (en particulier diabétiques) augmente, ils doivent optimiser au maximum leur temps de consultation.</p>
				<br>
				<p>Dans le contexte économique actuel un médecin généraliste français doit voir en moyenne entre 30-40 patients par jour pour faire face à la demande et assurer la pérennité de son activité. Le temps de consultation doit rarement dépasser 10-20 minutes pour maintenir ce rythme.
					Pendant cette courte durée, le médecin doit prendre les meilleures décisions possibles pour le patient.
				</p>
				<br>
				<p>
					En ce qui concerne le patient diabétique, il est important de noter que sa consultation, surtout au stade de la découverte de la maladie, peut prendre jusqu'à 1 heure et plus.
					Le généraliste doit notamment décider rapidement du bilan à effectuer pour dépister les complications et assurer un suivi adapté.
					Dans un contexte d'absence d'outils clairs et efficaces pour aider à la prise de décision, cette tâche devient inutilement lourde, chronophage et potentiellement inadaptée.
				</p>
				<br>
				<h2 class="text-basic md:text-4xl font-bold text-black">
					LA SOLUTION DE DEPISTCLIC
				</h2>
				<!-- Blue line -->
				<div class="mt-4 border-b-4 border-blue-200 rounded w-1/4"></div>
				<br>
				<p>Ce projet est né de la demande d'une médecin généraliste en exercice, confrontée quotidiennement tout comme ses confères aux problématiques décrites
					et regrettant l'absence d'une solution appropriée et d'outil érgonomique, en français ou en anglais, relativement facile mettre en oevre, surtout à l'ère numérique où des applications d'aide à la décision ont fleuri ces dernières années.
				</p>
				<br>
				<p>
					C'est l'objectif de notre application web : aider les professionnels de santé français à prendre les bonnes décisions, en leur fournissant un outil interactif, actualisé, ergonomique et rapide leur permettant de décider et de planifier des tests de dépistage pour les patients diabétiques afin d'améliorer leur état de santé.
				</p>
				<br>
				<p>Ce projet est une occasion unique de créer un outil utile pouvant être largement adopté par les professionnels de la santé afin d'avoir un impact significatif dans le monde réel.</p>
				<br>
				<p>
					L'application DepistClic n'a pas vocation à se substituer ou à remplacer l'avis et les décisions d'un médecin pour des raisons évidentes.
					Il est important de noter que malgré une relecture rigoureuse par des médecins afin d'assurer la validité médicale et scientifique des informations fournies en accord avec la littérature actuelle,
					l'outil n'a pas bénéficié d'une validation académique.
				</p>
				<br>
			</div>
		</article>
	</section>
</section>

{% endblock content %}
