{% extends 'mainapp/base.html' %}

{% block content %}

<main class="mt-16">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h1 class="text-center font-bold text-3xl text-red-500">Questions</h1>
                <article class="bg-gray-100 border border-gray-300 rounded p-4 mt-4 mb-14 shadow-2xl">
                    <h1 class="font-bold text-center text-2xl p-4" id="question_title">{{ question.title }}</h1>
                    {% if question.response_type == 'boolean' %}
                        <form class="font-bold text-2xl text-center" method="POST">
                            {% csrf_token %}
                            {{ form_bool.as_p }}
                        </form>
                    {% else %}
                        <form class="text-center" method="POST">
                            {% csrf_token %}
                            {{ form_int.as_p }}
                            <input class="btn btn-primary mt-4 font-bold text-red-500 text-xl cursor-pointer hover:bg-blue-300 hover:text-black p-2 rounded" type="submit" value="Valider">
                        </form>
                    {% endif %}
                    <div class="flex my-4 justify-center space-x-3">
                        <button class="btn btn-primary btn-sm bg-blue-300 hover:bg-blue-500 hover:text-white p-2 rounded text-xl font-bold" id="back-btn" {% if question.order <= 1 %}hidden{% endif %}>Précédent</button>
                        <button class="btn btn-primary btn-sm bg-blue-300 hover:bg-blue-500 hover:text-white p-2 rounded text-xl font-bold" id="pass-btn" data-question-order="{{ question.order }}">Suivant</button>
                        <button class="btn btn-primary btn-sm bg-blue-300 hover:bg-blue-500 hover:text-white p-2 rounded text-xl font-bold" id="home-btn">Accueil</button>
                        <a href="/synthese/">
                            <button class="btn btn-primary btn-sm bg-blue-300 hover:text-white hover:bg-blue-500 p-2 rounded text-xl font-bold">Synthèse</button>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2 class="text-center font-bold text-3xl text-red-500">Mon Patient</h2>
                <div class="card bg-gray-100 border border-gray-300 rounded p-4 mt-4 mb-4 shadow-2xl">
                    {% if previous_answers %}
                        {% for answer in previous_answers %}
                            <p class="text-center">{{ answer }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
