{% extends 'mainapp/base.html' %}

{% block content %}
    <h1 id="question_title">{{ question.title }}</h1>
    <form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input id="validate-btn" type="submit" value="Valider">
    </form>
    <button id="back-btn">Back</button>
    <button id="pass-btn" data-question-order="{{ question.order }}">Passer</button>
    <a href="/">
        <button>Home</button>
    </a>
    <h1>Mon Patient</h1>
    {%for answer in answer_list%}
	<p>{{answer.answer_text}}</p>
	{%endfor%}
    <a href="/synthese/">
        <button>Synthèse</button>
    </a>
{% endblock content %}
